<header>
  <div class="container">
    <a routerLink="/" class="logo">Food Fantasy</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Bejelentkezés</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profil</a>
            <a routerLink="/orders">Rendelések</a>
            <a (click)="logout()">Kijelentkezés</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Kosár <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
