<div class="container">
  <div class="details">
    <app-title title="Bejelentkezés"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      >
      </text-input>

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Jelszó"
      >
      </text-input>

      <default-button text="Bejelentkezés"></default-button>
      <div class="register">
        Új felhasználó? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Regisztrálj
        </a>
      </div>
    </form>
  </div>
</div>
